<div class="jumbotron" ng-app="LibraryApp" ng-controller="MainAppController">
    <h1>ASP.NET---*****</h1>

    <div ng-repeat="book in books track by $index">
        {{book.Title }}
    </div>
</div>

